[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "~=2.2"
channels = "~=2.1"
channels-redis = "~=2.2"
django-environ = "*"
requests = "*"
urllib3 = "==1.24.2"
django-redis = "*"
slackclient = "*"
django-extensions = "*"
whitenoise = "*"
twisted = "*"

[dev-packages]
