[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "==2.1"
channels = "==2.1.2"
channels-redis = "==2.2.1"
django-environ = "==0.4.5"
requests = "==2.19.1"
django-redis = "==4.9.0"
slackclient = "==1.2.1"
django-extensions = "==2.1.0"
whitenoise = "==3.3.1"

[dev-packages]
