{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Screenshare</title>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css" />
</head>
<body>
  <div id="app" :style="'background-color:'+color" v-html="html"></div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        html: null,
        color: '#fff'
      }
    });

    function connect(){
      var wsScheme = window.location.protocol === "https:" ? "wss://" : "ws://";
      var socket = new WebSocket(wsScheme + window.location.host + '/ws/');

      socket.onmessage = function(e) {
        console.log("Got", e);
        var state = JSON.parse(e.data);
        Object.keys(state).forEach(function(key) {
          app[key] = state[key];
        });
      };

      socket.onclose = function(e) {
        console.error('Socket closed');
        setTimeout(connect, 5000);
      };
    }

    connect();
  </script>
</body>
</html>